<<h1>Create a Tweet</h1>

<form action="/tweets" method="POST">

  <p>
    <label for="content">Content:</label>
    <input type="text" name="content" id="content">
  </p>

  <input type="submit" id="submit" value="submit">

</form>
