<h1>Create A New User</h1>

<form action="/signup" method="POST">
<br/>
<label>User Name:</label> <br/>
<input type="text" name="username" id="user_name"> <br/>
<label>Email:</label> <br/>
<input type="text" name="email" id="email"> <br/>
<label>Password:</label> <br/>
<input type="password" name="password" id="password"> <br/>

<input type="submit" value="Sign Up">
</form>
